.App {
  background-color: blueviolet;
  height: 90vh;
  padding: 15vh;
  perspective: 1000px;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: azure;
  background-repeat: no-repeat;
  background-position: 0%;
  pointer-events: none;
}

.container {
  background-color: antiquewhite;
  position: relative;
  border: 1px solid #000;
  width: 100%;
  transform: rotateX(50deg);
}

.divContainer {
  height: 100%;
  padding: 10px;
  padding-bottom: 1%;
}

.card {
  display: block;
  width: auto;
  position: relative;
  border-radius: 4px;
  height: 60vh;
  margin-bottom: 0;
  border: 5px solid #000;
}

.card-body {
  word-wrap: break-word;
}

.card-header {
  word-wrap: break-word;
}

.div-tile-Map {
  width: 33%;
  height: 50vh;
}
